.value-prop {
  margin-top: 1rem; }

.value-props {
  margin-top: 4rem;
  margin-bottom: 4rem; }

.value-img {
  display: block;
  text-align: center;
  margin: 2.5rem auto 0; }

nav.main a{
    color: #333333;
    display: inline-block;
    font-size: 17px;
    margin: 0 8px;
    text-decoration: none;
    text-transform: uppercase;
}

